{%extends 'base.html'%}

{% block title %}About😊 Heavens Event{% endblock %}

{% block content %}
   {% with pagename="About Us" %}
      {{ block.super }}
   {% endwith %}
   <section class="about-section">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-12 ">
               <div class="about_content position-relative z_99">
                  <div class="title_all_box style_one text-left  dark_color">
                     <div class="title_sections">
                        <div class="before_title">We are</div>
                        <h2>Leaders in HR Solution</h2>
                     </div>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_15"></div>
                  <!--===============spacing==============-->
                  <div class="extra_content image_with_content dark_color">
                     <div class="simple_image">
                        <img src="/static/images/cuntry-1.png" alt="img">
                        <h2> Since 1998, <br> Operating in Birmingham.</h2>
                     </div>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_20"></div>
                  <!--===============spacing==============-->
                  <div class="description_box">
                     <p>The great explorer of the truth, the master-builder of human happiness no one rejects
                        dislikes avoids pleasure itself because it is pleasure but because know who do not
                        those how to pursue pleasures rationally encounter consequences that are extremely
                        painful desires to obtain. </p>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_25"></div>
                  <!--===============spacing==============-->
                  <div class="row gutter_15px">
                     <div class="col-lg-6 col-md-12">
                        <div class="icon_box_all  style_two">
                           <div class="icon_content  icon_imgs ">
                              <div class="icon">
                                 <img src="/static/images/icon-img-n-1.png" class="img-fluid svg_image"
                                    alt="icon png">
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Tailored Advice &amp; Support</a>
                                 </h3>
                              </div>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_25"></div>
                           <!--===============spacing==============-->
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <div class="icon_box_all  style_two">
                           <div class="icon_content  icon_imgs ">
                              <div class="icon">
                                 <img src="/static/images/icon-img-n-2.png" class="img-fluid svg_image"
                                    alt="icon png">
                              </div>
                              <div class="txt_content">
                                 <h3><a href="#" target="_blank" rel="nofollow">Flexible Company Policies</a></h3>
                              </div>
                           </div>
                           <!--===============spacing==============-->
                           <div class="pd_bottom_25"></div>
                           <!--===============spacing==============-->
                        </div>
                     </div>
                  </div>

                  <div class="theme_btn_all color_one">
                     <a href="#" target="_blank" rel="nofollow" class="theme-btn five">Contact us<i
                           class="icon-right-arrow"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-12">
               <div class="image_boxes style_two">
                  <img src="/static/images/shape-1.png" class="background_image" alt="image">
                  <div class="image one">
                     <img src="/static/images/about/about-6.png" class="img-fluid" alt="image">
                  </div>
                  <div class="image two">
                     <img src="/static/images/about/about-7.png" class="img-fluid" alt="image">
                     <div class="video_box">
                        <a href="#" class="lightbox-image"><i class="icon-play"></i></a>
                     </div>
                  </div>
                  <div class="authour_quotes">
                     <i class="icon-quote"></i>
                     <h6>Making What’s Possible in Human Resource</h6>
                     <p>/ Liam Oliver</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_70"></div>
      <!--===============spacing==============-->
   </section>
   <!--about end-->
   <!--service-->
   <section class="service-icon-section bg_light_1">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="title_all_box style_one text-center dark_color">
                     <div class="title_sections">
                        <div class="before_title">Our Business</div>
                        <h2 class="title">Stand Out From The Rest</h2>
                     </div>
                     <!--===============spacing==============-->
                     <div class="pd_bottom_20"></div>
                     <!--===============spacing==============-->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="simple_image_boxes parallax_cover height_264px">
                        <img src="/static/images/icon-img-ab-1.jpg" class="simp_img cover-parallax" alt="image">
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_20"></div>
                  <!--===============spacing==============-->
                  <div class="icon_box_all style_three">
                     <div class="icon_content ">
                        <div class="icon">
                           <span class=" icon-bow-and-arrow"></span>
                        </div>
                        <div class="txt_content">
                           <h3><a href="#" target="_blank" rel="nofollow">Our Mission</a></h3>
                           <p>Equal blame belongs to those who fail in their duty through weakness of will which
                              the same as saying.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-0 mt-xl-0">
                  <div class="icon_box_all style_three">
                     <div class="icon_content ">
                        <div class="icon">
                           <span class=" icon-growth"></span>
                        </div>
                        <div class="txt_content">
                           <h3><a href="#" target="_blank" rel="nofollow">Our Core Values</a></h3>
                           <p>Equal blame belongs to those who fail in their duty through weakness of will which
                              the same as saying.</p>
                           <ul>
                              <li>Integrity</li>
                              <li>Commitment to excellence</li>
                              <li>Consumer focus</li>
                              <li>Accountability</li>
                              <li>Inclusiveness</li>
                           </ul>
                           <div class="btn_left">
                              <a href="#" target="_blank" rel="nofollow" class="theme-btn one">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 mt-lg-4 mt-xl-0">
                  <div class="icon_box_all style_three">
                     <div class="icon_content ">
                        <div class="icon">
                           <span class=" icon-binoculars"></span>
                        </div>
                        <div class="txt_content">
                           <h3><a href="#" target="_blank" rel="nofollow">Our Vision</a></h3>
                           <p>Equal blame belongs to those who fail in their duty through weakness of will which
                              the same as saying.</p>
                        </div>
                     </div>
                  </div>
                  <!--===============spacing==============-->
                  <div class="pd_bottom_20"></div>
                  <!--===============spacing==============-->
                  <div class="simple_image_boxes  height_264px">
                     <img src="/static/images/icon-img-ab-2.jpg" class="simp_img img-fluid" alt="image">
                  </div>
               </div>
            </div>
         </div>
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
   </section>
   <!--service end-->
   <!--timeline-->
   <section class="timeline-section">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
      <div class="row">
         <div class="col-lg-12">
            <div class="title_all_box style_one text-center dark_color">
               <div class="title_sections">
                  <div class="before_title">Evaluation of</div>
                  <h2 class="title">Our Company &amp; Partners</h2>
               </div>
               <!--===============spacing==============-->
               <div class="pd_bottom_20"></div>
               <!--===============spacing==============-->
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12 pd_zero">
            <div class="time_line_section style_one">
               <div class="swiper-container" data-swiper='{
                  "autoplay": {
                  "delay": 6000
                  },
                  "freeMode": false,
                  "loop": true,
                  "speed": 1000,
                  "centeredSlides": true,
                  "slidesPerView": 4,
                  "spaceBetween": 30,
                  "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                  },
                  "navigation": {
                     "nextEl": ".swiper-button-next",
                     "prevEl": ".swiper-button-prev"
                  },
                  "breakpoints": {
                     "1200": {
                        "slidesPerView": 4
                     },
                     "1024": {
                     "slidesPerView": 3 
                     },
                  "768": {
                     "slidesPerView": 2 
                  },
                  "400": {
                     "slidesPerView": 2
                  },
                  "0": {
                     "slidesPerView": 1 
                  }
                  }
               }'>
                  <div class="swiper-button-next">
                     <div class="border_one sme"></div>
                  </div>
                  <div class="swiper-button-prev">
                     <div class="border_two sme"></div>
                  </div>
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">Company Started</a>
                                 </h2>
                                 <p>Expound the actual teachings of the great explorer the truth the masters
                                    builder of human happiness one rejects.</p>
                              </div>
                              <div class="year">
                                 1998
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-3-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">New Milestone</a>
                                 </h2>
                                 <p>No one rejects dislikes or avoids pleasures itself because it is pleasures,
                                    but because those who pursue pleasure rationally.</p>
                              </div>
                              <div class="year">
                                 2000
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-5-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       First Award </a>
                                 </h2>
                                 <p> Undertakes laborious physical exercise except to obtain some advantage from
                                    it
                                    pursue pleasure rationally.
                                 </p>
                              </div>
                              <div class="year">
                                 2001
                              </div>
                              <div class="image">
                                 <img src="/static/images/service/service-image-4.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       100 Employees </a>
                                 </h2>
                                 <p> Expound the actual teachings of the great
                                    explorer the truth the masters builder of human
                                    happiness one rejects.
                                 </p>
                              </div>
                              <div class="year">
                                 2004
                              </div>
                              <div class="image">
                                 <img src="/static/images/blog/blog-image-8.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       Company Started </a>
                                 </h2>
                                 <p> Expound the actual teachings of the great
                                    explorer the truth the masters builder of human
                                    happiness one rejects.
                                 </p>
                              </div>
                              <div class="year">
                                 1998
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-3-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       New Milestone </a>
                                 </h2>
                                 <p> No one rejects dislikes or avoids pleasures itself because it is pleasures,
                                    but because those who
                                    pursue pleasure rationally.
                                 </p>
                              </div>
                              <div class="year">
                                 2000
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-5-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">Company Started</a>
                                 </h2>
                                 <p>Expound the actual teachings of the great explorer the truth the masters
                                    builder of human happiness one rejects.</p>
                              </div>
                              <div class="year">
                                 1998
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-3-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">New Milestone</a>
                                 </h2>
                                 <p>No one rejects dislikes or avoids pleasures itself because it is pleasures,
                                    but because those who pursue pleasure rationally.</p>
                              </div>
                              <div class="year">
                                 2000
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-5-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       First Award </a>
                                 </h2>
                                 <p> Undertakes laborious physical exercise except to obtain some advantage from
                                    it
                                    pursue pleasure rationally.
                                 </p>
                              </div>
                              <div class="year">
                                 2001
                              </div>
                              <div class="image">
                                 <img src="/static/images/service/service-image-4.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       100 Employees </a>
                                 </h2>
                                 <p> Expound the actual teachings of the great
                                    explorer the truth the masters builder of human
                                    happiness one rejects.
                                 </p>
                              </div>
                              <div class="year">
                                 2004
                              </div>
                              <div class="image">
                                 <img src="/static/images/blog/blog-image-8.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       Company Started </a>
                                 </h2>
                                 <p> Expound the actual teachings of the great
                                    explorer the truth the masters builder of human
                                    happiness one rejects.
                                 </p>
                              </div>
                              <div class="year">
                                 1998
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-3-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="time_line_box">
                           <div class="time_inner">
                              <div class="border_liner">
                                 <span></span>
                                 <span class="last"></span>
                              </div>
                              <div class="content">
                                 <h2>
                                    <a href="#" target="_blank" rel="nofollow">
                                       New Milestone </a>
                                 </h2>
                                 <p> No one rejects dislikes or avoids pleasures itself because it is pleasures,
                                    but because those who
                                    pursue pleasure rationally.
                                 </p>
                              </div>
                              <div class="year">
                                 2000
                              </div>
                              <div class="image">
                                 <img src="/static/images/projects/project-5-img.jpg" alt="img">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               
               </div>
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
   </section>
   <!--timeline-->
   <!--tab-->
   <section class="tab-section bg_op_1" style="background-image:url(/static/images/tab-sec-bg.jpg);">
      <!--===============spacing==============-->
            <div class="pd_top_100"></div>
      <!--===============spacing==============-->
         <div class="container">
            <div class="row">
               <div class="tabs_all_box  tabs_all_box_start type_one">
                  <div class="tab_over_all_box">
                     <div class="tabs_header clearfix">
                        <ul class="showcase_tabs_btns nav-pills nav   clearfix">
                           <li class="nav-item">
                              <a class="s_tab_btn nav-link active" data-tab="#tabtabone">01. Affordable</a>
                           </li>
                           <li class="nav-item">
                              <a class="s_tab_btn nav-link" data-tab="#tabtabtwo">02. Knowledge</a>
                           </li>
                           <li class="nav-item">
                              <a class="s_tab_btn nav-link" data-tab="#tabtabthree">03. Saves Time</a>
                           </li>
                           <li class="nav-item">
                              <a class="s_tab_btn nav-link" data-tab="#tabtabfour">04. Fast &amp; Quality</a>
                           </li>
                           <li class="nav-item">
                              <a class="s_tab_btn nav-link" data-tab="#tabtabfive">05. Experienced</a>
                           </li>
                        </ul>
                        <div class="toll_free">
                           <a href="tel:180667586677"> <i class="icon-phone-call"></i>Call For Free
                              Consultation</a>
                        </div>
                     </div>
                     <div class="s_tab_wrapper">
                        <div class="s_tabs_content">
                           <div class="s_tab fade active-tab show" id="tabtabone">
                              <div class="tab_content one"
                                 style="background-image:url(/static/images/tab-image.jpg)">
                                 <div class="content_image">
                                    <h6>Why Creote</h6>

                                    <h2>Affordable &amp; Flexible</h2>

                                    <p>Must explain too you how all this mistaken idea of denouncing pleasures
                                       praising pain was born and we will give you complete account of the system
                                       the actual teachings of the great explorer.</p>

                                    <a href="#" target="_blank" rel="nofollow" class="rd_more">Read More <i
                                          class="icon-right-arrow"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="s_tab fade" id="tabtabtwo">
                              <div class="tab_content one"
                                 style="background-image:url(/static/images/blog/blog-image-8.jpg)">
                                 <div class="content_image">
                                    <h6>Why Creote</h6>

                                    <h2>Affordable &amp; Flexible</h2>

                                    <p>Must explain too you how all this mistaken idea of denouncing pleasures
                                       praising pain was born and we will give you complete account of the system
                                       the actual teachings of the great explorer.</p>

                                    <a href="#" target="_blank" rel="nofollow" class="rd_more">Read More <i
                                          class="icon-right-arrow"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="s_tab fade" id="tabtabthree">
                              <div class="tab_content one"
                                 style="background-image:url(/static/images/banner-five-bg.jpg)">
                                 <div class="content_image">
                                    <h6>Why Creote</h6>

                                    <h2>Affordable &amp; Flexible</h2>

                                    <p>Must explain too you how all this mistaken idea of denouncing pleasures
                                       praising pain was born and we will give you complete account of the system
                                       the actual teachings of the great explorer.</p>

                                    <a href="#" target="_blank" rel="nofollow" class="rd_more">Read More <i
                                          class="icon-right-arrow"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="s_tab fade" id="tabtabfour">
                              <div class="tab_content one"
                                 style="background-image:url(/static/images/banner-five-bg.jpg)">
                                 <div class="content_image">
                                    <h6>Why Creote</h6>

                                    <h2>Affordable &amp; Flexible</h2>

                                    <p>Must explain too you how all this mistaken idea of denouncing pleasures
                                       praising pain was born and we will give you complete account of the system
                                       the actual teachings of the great explorer.</p>

                                    <a href="#" target="_blank" rel="nofollow" class="rd_more">Read More <i
                                          class="icon-right-arrow"></i></a>
                                 </div>
                              </div>
                           </div>
                           <div class="s_tab fade" id="tabtabfive">
                              <div class="tab_content one"
                                 style="background-image:url(/static/images/banner-five-bg.jpg)">
                                 <div class="content_image">
                                    <h6>Why Creote</h6>

                                    <h2>Affordable &amp; Flexible</h2>

                                    <p>Must explain too you how all this mistaken idea of denouncing pleasures
                                       praising pain was born and we will give you complete account of the system
                                       the actual teachings of the great explorer.</p>

                                    <a href="#" target="_blank" rel="nofollow" class="rd_more">Read More <i
                                          class="icon-right-arrow"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!--===============spacing==============-->
         <div class="pd_bottom_90"></div>
      <!--===============spacing==============-->
   </section>
   <!--tab-end-->
   <!--team-->
   <section class="team-section">
      <!--===============spacing==============-->
      <div class="pd_top_80"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row align-items-end">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="title_all_box style_one  dark_color">
                  <div class="title_sections">
                     <div class="before_title"> Dedicated Team</div>
                     <h2>Professional Individuals</h2>
                  </div>
               </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="description_box">
                  <p>Our power of choice is untrammelled and when nothing prevents being able to do what we
                     like best every pleasure.</p>
                  <!--===============spacing==============-->
                  <div class="mr_bottom_20"></div>
                  <!--===============spacing==============-->
               </div>
            </div>
            <!--===============spacing==============-->
            <div class="mr_bottom_30"></div>
            <!--===============spacing==============-->
         </div>
         <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="/static/images/team/team-1.jpg" alt="team image" />
                     </div>
                     <div class="about_member">
                        <div class="share_media">
                           <ul class="first">
                              <li class="text">Share</li>
                              <li><i class="fa fa-share-alt"></i></li>
                           </ul>
                           <ul>
                              <li class="shar_alt"><i class="fa fa-share-alt"></i></li>
                              <li><a href="#"> <i class="fa fa-facebook"> </i></a></li>
                              <li><a href="#"> <i class="fa fa-twitter"> </i></a></li>
                              <li><a href="#"> <i class="fa fa-skype"> </i></a></li>
                              <li><a href="#"> <i class="fa fa-instagram"> </i></a></li>
                           </ul>
                        </div>
                        <div class="authour_details">
                           <span>Director </span>
                           <h6>Amelia Margaret</h6>
                           <div class="button_view">
                              <a href="#" target="_blank" rel="nofollow" class="theme-btn one"> View Profile
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="/static/images/team/team-2.jpg" alt="team image" />
                     </div>
                     <div class="about_member">
                        <div class="share_media">
                           <ul class="first">
                              <li class="text">Share</li>
                              <li><i class="fa fa-share-alt"></i></li>
                           </ul>
                           <ul>
                              <li class="shar_alt"><i class="fa fa-share-alt"></i></li>
                              <li><a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-twitter"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-skype"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-instagram"> </i> </a></li>
                           </ul>
                        </div>
                        <div class="authour_details">
                           <span>Team Leader </span>
                           <h6>Andrew Cameron</h6>
                           <div class="button_view">
                              <a href="#" target="_blank" rel="nofollow" class="theme-btn one"> View Profile
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
               <div class="team_box style_one">
                  <div class="team_box_outer">
                     <div class="member_image">
                        <img src="/static/images/team/team-3.png" alt="team image" />
                     </div>
                     <div class="about_member">
                        <div class="share_media">
                           <ul class="first">
                              <li class="text">Share</li>
                              <li><i class="fa fa-share-alt"></i></li>
                           </ul>
                           <ul>
                              <li class="shar_alt"><i class="fa fa-share-alt"></i></li>
                              <li><a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-twitter"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-skype"> </i> </a></li>
                              <li><a href="#"> <i class="fa fa-instagram"> </i> </a></li>
                           </ul>
                        </div>
                        <div class="authour_details">
                           <span>Manager </span>
                           <h6>Sofia Charlotte</h6>
                           <div class="button_view">
                              <a href="#" target="_blank" rel="nofollow" class="theme-btn one"> View Profile
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--===============spacing==============-->
               <div class="mr_bottom_30"></div>
               <!--===============spacing==============-->
            </div>
         </div>
      </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_60"></div>
      <!--===============spacing==============-->
   </section>
   <!--team-end-->
{% endblock %}