{%extends 'base.html'%}

{% block title %}Done Projects 😎Heavens Event{% endblock %}

{% block content %}
   {% with pagename="Projects" %}
   {{ block.super }}
   {% endwith %}
      <section class="project_all filt_style_two filter_enabled">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="fliter_group" style="text-align:center!important;">
                     <ul class="project_filter dark clearfix">
                        <li data-filter="*" class="current">View All</li>
                        <li data-filter=".project_category-coaching" class="img-fluid">Coaching</li>
                        <li data-filter=".project_category-human-resources" class="img-fluid">Human Resources</li>
                        <li data-filter=".project_category-leadership" class="img-fluid">Leadership</li>
                        <li data-filter=".project_category-pre-sale">Pre sale</li>
                        <li data-filter=".project_category-recruiting">Recruiting</li>
                        <li data-filter=".project_category-values" class="img-fluid">Values</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="project_container clearfix">
               <div class="row clearfix">
                  <div class="project-wrapper grid-item col-lg-12 col-md-12 col-sm-12 col-xs-12 project_category-coaching">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">coaching</a></div>
                           <h2><a href="project-details.html">Complex Dismissal for a Small Company</a></h2>
                           <p class="short_desc">Beguiled and demoralized charms of pleasure of the moment
                              so blinded.</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Complex Dismissal for a Small Company"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Complex Dismissal for a Small Company"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Complex Dismissal for a Small Company"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Complex Dismissal for a Small Company"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Complex Dismissal for a Small Company">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img loading="lazy" width="370" height="247"
                              src="/static/images/projects/project-2-img.jpg" class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>March 08, 2023</span></li>
                                 <li>Client :<span>The Infotech Solutions</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div  class="project-wrapper grid-item col-lg-12 col-md-12 col-sm-12 col-xs-12  project_category-human-resources">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">human-resources</a></div>
                           <h2><a href="project-details.html">Essential Steps to Writing Job Description</a>
                           </h2>
                           <p class="short_desc">Power of choice untrammelled when nothing prevents our
                              being able to do.</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Essential Steps to Writing Job Description"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Essential Steps to Writing Job Description"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Essential Steps to Writing Job Description"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Essential Steps to Writing Job Description"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Essential Steps to Writing Job Description">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img width="370" height="247" src="/static/images/projects/project-3-img.jpg"
                              class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>February 05, 2023</span></li>
                                 <li>Client :<span>Jalkan Sisters Group</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="project-wrapper grid-item    col-lg-12 col-md-12 col-sm-12 col-xs-12  project_category-leadership">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">leadership</a></div>
                           <h2><a href="project-details.html">Company Values & The Relationship</a></h2>
                           <p class="short_desc">To take a trivial example which of undertakes laborious
                              physical exercise.</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Company Values & The Relationship"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Company Values & The Relationship"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Company Values & The Relationship"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Company Values & The Relationship"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Company Values & The Relationship">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img width="370" height="246" src="/static/images/projects/project-1-img.jpg"
                              class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>April 14, 2023</span></li>
                                 <li>Client :<span>The Sixmothers Group</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="project-wrapper grid-item    col-lg-12 col-md-12 col-sm-12 col-xs-12  project_category-pre-sale">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">pre-sale</a></div>
                           <h2><a href="project-details.html">Time HR Prepares Plastic Contract
                                 Manufacturer</a></h2>
                           <p class="short_desc">STHRM, Inc. was hired to evaluate the company’s human
                              resources department and…</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Time HR Prepares Plastic Contract Manufacturer"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Time HR Prepares Plastic Contract Manufacturer"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Time HR Prepares Plastic Contract Manufacturer"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Time HR Prepares Plastic Contract Manufacturer"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Time HR Prepares Plastic Contract Manufacturer">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img width="370" height="208" src="/static/images/projects/project-4-img.jpg"
                              class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>January 22, 2023</span></li>
                                 <li>Client :<span>The Sixmothers Group</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="project-wrapper grid-item col-lg-12 col-md-12 col-sm-12 col-xs-12  project_category-recruiting">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">recruiting</a></div>
                           <h2><a href="project-details.html">Shared Time Human Resources Management</a>
                           </h2>
                           <p class="short_desc">Shared Time Human Resources Management, Inc. is a
                              value-oriented resource for companies…</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Shared Time Human Resources Management"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Shared Time Human Resources Management"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Shared Time Human Resources Management"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Shared Time Human Resources Management"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Shared Time Human Resources Management">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img width="370" height="247" src="/static/images/projects/project-6-img.jpg"
                              class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>February 05, 2023</span></li>
                                 <li>Client :<span>Jalkan Sisters Group</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="project-wrapper grid-item    col-lg-12 col-md-12 col-sm-12 col-xs-12  project_category-values">
                     <div class="project_box style_three clearfix">
                        <div class="content_inner">
                           <div><a href="#">values</a></div>
                           <h2><a href="project-details.html">Six Essential Steps To Writing Successful
                                 Job</a></h2>
                           <p class="short_desc">In its purest form, a position description indicates the
                              work to be…</p>
                           <a href="project-details.html" class="read_more">Read More <span
                                 class="icon-right-arrow-long"></span></a>
                           <div class="share_me">
                              <div class="share_socail">
                                 <div class="title">Share</div>
                                 <button class="m_icon" title="facebook" data-sharer="facebook"
                                    data-title="Six Essential Steps To Writing Successful Job"
                                    data-url="project-details.html">
                                    <i class="fa fa-facebook"></i>
                                 </button>
                                 <button class="m_icon" title="twitter" data-sharer="twitter"
                                    data-title="Six Essential Steps To Writing Successful Job"
                                    data-url="project-details.html">
                                    <i class="fa fa-twitter"></i>
                                 </button>
                                 <button class="m_icon" title="whatsapp" data-sharer="whatsapp"
                                    data-title="Six Essential Steps To Writing Successful Job"
                                    data-url="project-details.html">
                                    <i class="fa fa-whatsapp"></i>
                                 </button>
                                 <button class="m_icon" title="telegram" data-sharer="telegram"
                                    data-title="Six Essential Steps To Writing Successful Job"
                                    data-url="project-details.html" data-to="+44555-03564">
                                    <i class="fa fa-telegram"></i>
                                 </button>
                                 <button class="m_icon" title="skype" data-sharer="skype"
                                    data-url="project-details.html"
                                    data-title="Six Essential Steps To Writing Successful Job">
                                    <i class="fa fa-skype"></i>
                                 </button>
                              </div>
                           </div>
                        </div>
                        <div class="image">
                           <img width="370" height="247" src="/static/images/projects/project-5-img.jpg"
                              class="wp-post-image" alt="img">
                           <a href="project-details.html" class="pro-link"></a>
                           <div class="overlay"> </div>
                           <div class="text">
                              <ul>
                                 <li>Date : <span>December 08, 2020</span></li>
                                 <li>Client :<span>James Studio</span></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!--===============spacing==============-->
      <div class="pd_bottom_90"></div>
      <!--===============spacing==============-->
      </section>
   {% endblock %}