{%extends 'base.html'%}

{% block title %}Services By😎Heavens Event{% endblock %}

{% block content %}
   {% with pagename="Services" %}
   {{ block.super }}
   {% endwith %}
   <section class="creote-service-box absolute">
      <!--===============spacing==============-->
      <div class="pd_top_90"></div>
      <!--===============spacing==============-->
      <div class="container">
         <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-6.jpg"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Talent Management</a></h2>
                     <p class="short_desc">Once your company has hired the best employees, the next step.</p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-5.jpg"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Health Care Benefits</a></h2>
                     <p class="short_desc">Workplace conflict can become a costly and time-consuming process.
                     </p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-4.jpg"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Risk Management</a></h2>
                     <p class="short_desc">Mitigate workplace issues before they escalate ,Shared Time Human.
                     </p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-3.png"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Compliance Audits</a></h2>
                     <p class="short_desc">Prevents our being able too what get like best every pleasure.</p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-2.png"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Employee Relations</a></h2>
                     <p class="short_desc">Indignation sed dislike men who are beguiled and demoralized.</p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               <div class="service_post style_one">
                  <div class="image">
                     <div class="overlay"></div>
                     <img loading="lazy" width="500" height="500" src="/static/images/service/service-image-1.png"
                        alt="img">
                  </div>
                  <div class="service_content icon_yes">
                     <div class="icon_box">
                        <span class="icon icon-thumbs-up icon"></span>
                     </div>
                     <h2 class="title_service"><a href="#" rel="bookmark">Recruitment Process</a></h2>
                     <p class="short_desc">These cases are perfectly simple and easy to distinguish.</p>
                     <a class="read_more" href="#"> Read More<i class="icon-right-arrow-long"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--===============spacing==============-->
   <div class="pd_top_80"></div>
   <!--===============spacing==============-->
{% endblock %}